.margin {
    margin:20px;
}

.padding {
    padding: 20px;
}

.block {
    background: lightgray;
    margin-bottom: 0px;
}

/* .textcolor {
    color: black;
} */

.banner {
    position: absolute;
    bottom: 0px;
    width: 90%;
    padding: 20px 0px;
    margin: 5% 5% 0% 5% auto;
    font-weight: 300;
    line-height: 30px;
    color: white !important;
    text-align: center;
    background: lightseagreen;
    border: 2px solid white;
}

.thumbnail {
    margin: 5% auto;
    margin-right: 2%;
    width:98%;
    height: 90%;
    border: 3px solid white;
}

@media screen and (max-width: 980px) {
    .banner {
        width: 93%;
    }
}

@media screen and (max-width: 640px) {
    .banner {
        width: 88%;
    }
}

@media screen and (max-width: 390px) {
    .banner {
        width: 91%;
    }
}

@media screen and (max-width: 340px) {
    .banner {
        width: 90%;
    }
}